body {
    margin: 0;
    padding: 0;
    #sharer-by-KP {
        width: 100vw;
        height: 100vh;
        // background-color: rgba(0, 0, 0, 0.2);
        // backdrop-filter: blur(20px);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .modal-content {
            width: 448px;
            height: 500px;
            background-color: white;
            box-shadow: 0 16px 64px 0 rgba(128, 128, 128, 0.6);
            border-radius: 12px;
            transition: all 0.4s ease;

            .modal-header {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                border-bottom: 1px solid rgba(128, 128, 128, 0.1);
                height: 50px;

                .header-content {
                    width: calc(100% - 20px);
                    padding: 0 10px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    --close-btn-size: 30px;
                    .header-empty-space {
                        width: var(--close-btn-size);
                    }
                    .header-close-btn {
                        width: var(--close-btn-size);
                        height: var(--close-btn-size);
                        background-color: rgba(128, 128, 128, 0.1);
                        border-radius: 8px;
                    }
                }
            }

            .modal-body {
                padding: 10px;
                transition: all 0.4s ease;
                height: 430px;
                overflow-y: auto;

                .share-btn-row {
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 8px;
                    .share-btn {
                        width: 20%;
                        aspect-ratio: 1/1;
                        padding: 4px;
                        // border: 1px solid black;
                        border-radius: 10px;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        .icon-box {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-evenly;
                            svg {
                                width: 84%;
                                height: 84%;
                            }
                        }

                        &:hover {
                            background-color: rgba(128, 128, 128, 0.1);
                            cursor: pointer;
                        }

                        &.hide {
                            .icon-box {
                                display: none;
                            }

                            &:hover {
                                background-color: transparent;
                                cursor: default;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 600px) {
    body {
        #sharer-by-KP {
            .modal-content {
                width: 100vw;
                height: 100vh;
                box-shadow: none;
                border-radius: 0;

                .modal-body {
                    height: calc(100vh - 70px);
                }
            }
        }
    }
}
