@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
    // --sharer-border-n-shadow-color: rgba(128, 128, 128, 0.2);
    --header-footer-bg: rgba(255, 255, 255, 0.8);
    --sharer-border-n-shadow-color: rgba(233, 233, 236, 0.8);
    --highlight-blue-color: rgb(64, 122, 229);
    --font-primary: black;
    --primary-bg: white;
}

body {
    padding: 0;
    margin: 0;
    #sharer-by-KP {
        font-family: "Inter", sans-serif;
        position: fixed;
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        background-color: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(6px);
        top: 50px;
        left: 0;
        opacity: 0;
        pointer-events: none;
        transition: top 0.2s ease, opacity 1s ease;

        &.show {
            top: 0;
            opacity: 1;
            pointer-events: all;
        }

        #sharer-window {
            width: 484px;
            height: 591px;
            border-radius: 18px;
            border: 1px solid var(--sharer-border-n-shadow-color);
            box-shadow: 0 16px 64px 0 rgba(0, 0, 0, 0.2);
            position: relative;
            transition: width 0.4s ease, height 0.4s ease;
            background-color: var(--primary-bg);

            --header-n-footer-height: 50px;
            #sharer-header {
                position: absolute;
                z-index: 1;
                top: 0;
                left: 0;
                width: 100%;
                height: var(--header-n-footer-height);
                background-color: var(--header-footer-bg);
                backdrop-filter: blur(10px);
                border-top-left-radius: 17px;
                border-top-right-radius: 17px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;

                .sharer-header-container {
                    --back-btn-size: 30px;
                    width: calc(
                        100% - var(--header-n-footer-height) +
                            var(--back-btn-size)
                    );

                    #back-btn {
                        width: var(--back-btn-size);
                        height: var(--back-btn-size);
                        background-color: var(--sharer-border-n-shadow-color);
                        border-radius: 9px;

                        --back-btn-line-stroke: #838287;
                        .close-btn {
                            width: 100%;
                            height: 100%;
                            fill: var(--back-btn-line-stroke);

                            &:hover {
                                cursor: pointer;
                            }
                        }
                    }
                }
            }

            .sharer-content {
                overflow-x: auto;
                position: absolute;
                z-index: 0;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;

                // ::-webkit-scrollbar {
                //     width: 0.4em;
                //     width: 0.4em;
                //     // height: 0;
                //     // height: 0;
                // }

                // ::-webkit-scrollbar-track {
                //     background: red;
                // }

                // ::-webkit-scrollbar-thumb {
                //     background: blue;
                // }

                .sharer-content-main {
                    --padding: 10px;
                    padding: var(--padding);
                    min-height: calc(
                        100% - 2 * var(--header-n-footer-height) - 2 *
                            var(--padding)
                    );
                    width: calc(100% - 2 * var(--padding));

                    .applist-item {
                        width: calc(100% - 20px);
                        padding: 10px;
                        background-color: transparent;
                        border-radius: 9px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        --icon-size: 30px;
                        .icon-n-name {
                            display: flex;
                            align-items: center;

                            .app-icon {
                                width: var(--icon-size);
                                height: var(--icon-size);
                                margin-right: 10px;
                                border-radius: 9px;
                            }

                            .app-name {
                                color: var(--font-primary);
                            }
                        }

                        .open-arrow {
                            width: var(--icon-size);
                            height: var(--icon-size);
                            margin-right: 4px;
                            border-radius: 9px;
                            transition: margin-right 0.2s ease;
                        }

                        &:hover {
                            background-color: var(
                                --sharer-border-n-shadow-color
                            );
                            cursor: pointer;
                            .open-arrow {
                                margin-right: 0px;
                            }
                        }
                    }

                    .share-on-app-container {
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        #icon-n-qr {
                            width: 74px;
                            aspect-ratio: 1;
                            margin-bottom: 10px;
                            position: relative;
                            transition: width 0.4s ease;

                            #sharer-qr {
                                z-index: 0;
                                position: absolute;
                                width: 100%;
                                aspect-ratio: 1;
                                transition: opacity 0.4s ease-in,
                                    border-radius 0.4s ease-in;
                                opacity: 0;
                                border-radius: 16px;

                                &:hover {
                                    cursor: pointer;
                                }
                            }

                            #app-icon {
                                z-index: 1;
                                position: absolute;
                                width: 100%;
                                aspect-ratio: 1;
                                top: 0%;
                                left: 0%;
                                transition: left 0.4s ease, top 0.4s ease,
                                    width 0.4s ease;

                                &:hover {
                                    cursor: pointer;
                                }
                            }

                            #touch-gif {
                                z-index: 2;
                                width: 100%;
                                aspect-ratio: 1;
                                position: absolute;
                                opacity: 1;
                                transition: opacity 0.4s ease;
                                top: 0;
                                left: 0;
                                border-radius: 14px;

                                &.hide {
                                    opacity: 0;
                                }
                            }

                            &.show-qr {
                                width: 64%;

                                #sharer-qr {
                                    transition: opacity 0.2s ease-in,
                                        border-radius 0.2s ease-in;
                                    opacity: 1;
                                    border-radius: 32px;
                                }

                                #app-icon {
                                    --icon-width: 16%;
                                    width: var(--icon-width);
                                    // top: 44%;
                                    // left: 44%;
                                    top: calc(
                                        50% - calc(var(--icon-width) / 2)
                                    );
                                    left: calc(
                                        50% - calc(var(--icon-width) / 2)
                                    );
                                }
                            }
                        }

                        .title {
                            width: 100%;
                            text-align: center;
                            font-size: 32px;
                            font-weight: 500;
                            margin-bottom: 16px;
                        }

                        .description {
                            width: 84%;
                            width: 100%;
                            text-align: center;
                            font-size: 14px;
                            margin-bottom: 32px;
                        }

                        .sharing-options {
                            width: 100%;
                            height: 30px;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            margin-bottom: 64px;

                            .share-btns {
                                width: calc(50% - 10px);
                                height: 100%;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-around;
                                border-radius: 9px;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                            .separator {
                                width: 1px;
                                height: 84%;
                                background-color: var(
                                    --sharer-border-n-shadow-color
                                );
                            }
                        }

                        #qr-container {
                            width: 100%;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-around;
                            img {
                                width: 32%;
                                aspect-ratio: 1;
                            }
                        }
                    }
                }

                .space {
                    height: var(--header-n-footer-height);
                    width: 100%;
                }
            }

            .sharer-footer {
                position: absolute;
                z-index: 1;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 50px;
                background-color: var(--header-footer-bg);
                backdrop-filter: blur(10px);
                border-bottom-left-radius: 17px;
                border-bottom-right-radius: 17px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                background-color: var(--primary-bg);

                .sharer-footer-container {
                    --footer-btns-height: 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: calc(
                        100% - var(--header-n-footer-height) +
                            var(--footer-btns-height)
                    );
                    height: var(--footer-btns-height);
                    border-radius: 9px;
                    .footer-btns {
                        width: calc(50% - 10px);
                        height: 100%;
                        background-color: transparent;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-around;
                        border-radius: 9px;
                        color: var(--font-primary);
                        &:hover {
                            background-color: var(
                                --sharer-border-n-shadow-color
                            );
                            color: var(--highlight-blue-color);
                            cursor: pointer;
                        }

                        .footer-btn-container {
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: space-around;
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .separator {
                        height: 84%;
                        width: 1px;
                        border-radius: 2px;
                        background-color: var(--sharer-border-n-shadow-color);
                    }
                }
            }
        }
    }
}

@media (max-width: 580px) {
    body {
        #sharer-by-KP {
            #sharer-window {
                width: 100%;
                height: 100%;
                border-radius: 0;
            }
        }
    }
}
