@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");
:root {
  --header-footer-bg: rgba(255, 255, 255, 0.8);
  --sharer-border-n-shadow-color: rgba(233, 233, 236, 0.8);
  --highlight-blue-color: rgb(64, 122, 229);
  --font-primary: black;
  --primary-bg: white;
}

body {
  padding: 0;
  margin: 0;
}
body #sharer-by-KP {
  font-family: "Inter", sans-serif;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  top: 50px;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: top 0.2s ease, opacity 1s ease;
}
body #sharer-by-KP.show {
  top: 0;
  opacity: 1;
  pointer-events: all;
}
body #sharer-by-KP #sharer-window {
  width: 100%;
  height: 100%;
  max-width: 484px;
  max-height: 591px;
  border-radius: 18px;
  border: 1px solid var(--sharer-border-n-shadow-color);
  box-shadow: 0 16px 64px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  transition: max-width 0.4s ease, max-height 0.4s ease;
  background-color: var(--primary-bg);
  --header-n-footer-height: 50px;
}
body #sharer-by-KP #sharer-window .sharer-header {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-n-footer-height);
  background-color: var(--header-footer-bg);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-top-left-radius: 17px;
  border-top-right-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
body #sharer-by-KP #sharer-window .sharer-header .sharer-header-container {
  --back-btn-size: 30px;
  width: calc(100% - var(--header-n-footer-height) + var(--back-btn-size));
}
body #sharer-by-KP #sharer-window .sharer-header .sharer-header-container #back-btn {
  width: var(--back-btn-size);
  height: var(--back-btn-size);
  background-color: var(--sharer-border-n-shadow-color);
  border-radius: 9px;
  --back-btn-line-stroke: #838287;
}
body #sharer-by-KP #sharer-window .sharer-header .sharer-header-container #back-btn .close-btn {
  width: 100%;
  height: 100%;
  fill: var(--back-btn-line-stroke);
}
body #sharer-by-KP #sharer-window .sharer-header .sharer-header-container #back-btn .close-btn:hover {
  cursor: pointer;
}
body #sharer-by-KP #sharer-window .sharer-content {
  overflow-x: auto;
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
body #sharer-by-KP #sharer-window .sharer-content .sharer-content-main {
  --padding: 10px;
  padding: var(--padding);
  min-height: calc(100% - 2 * var(--header-n-footer-height) - 2 * var(--padding));
  width: calc(100% - 2 * var(--padding));
}
body #sharer-by-KP #sharer-window .sharer-content .sharer-content-main .applist-item {
  width: calc(100% - 20px);
  padding: 10px;
  background-color: transparent;
  border-radius: 9px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  --icon-size: 30px;
}
body #sharer-by-KP #sharer-window .sharer-content .sharer-content-main .applist-item .icon-n-name {
  display: flex;
  align-items: center;
}
body #sharer-by-KP #sharer-window .sharer-content .sharer-content-main .applist-item .icon-n-name .app-icon {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: 10px;
  border-radius: 9px;
}
body #sharer-by-KP #sharer-window .sharer-content .sharer-content-main .applist-item .icon-n-name .app-name {
  color: var(--font-primary);
}
body #sharer-by-KP #sharer-window .sharer-content .sharer-content-main .applist-item .open-arrow {
  width: var(--icon-size);
  height: var(--icon-size);
  margin-right: 4px;
  border-radius: 9px;
  transition: margin-right 0.2s ease;
}
body #sharer-by-KP #sharer-window .sharer-content .sharer-content-main .applist-item:hover {
  background-color: var(--sharer-border-n-shadow-color);
  cursor: pointer;
}
body #sharer-by-KP #sharer-window .sharer-content .sharer-content-main .applist-item:hover .open-arrow {
  margin-right: 0px;
}
body #sharer-by-KP #sharer-window .sharer-content .sharer-content-main .share-on-app-container .app-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}
body #sharer-by-KP #sharer-window .sharer-content .sharer-content-main .share-on-app-container .app-icon-container .app-icon {
  width: 74px;
  aspect-ratio: 1;
  margin-bottom: 10px;
}
body #sharer-by-KP #sharer-window .sharer-content .sharer-content-main .share-on-app-container .share-btn-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
body #sharer-by-KP #sharer-window .sharer-content .sharer-content-main .share-on-app-container .share-btn-container .share-btn {
  padding: 6px 10px;
  background-color: var(--sharer-border-n-shadow-color);
  border-radius: 9px;
  font-weight: 500;
}
body #sharer-by-KP #sharer-window .sharer-content .sharer-content-main .share-on-app-container .share-btn-container .share-btn:hover {
  cursor: pointer;
}
body #sharer-by-KP #sharer-window .sharer-content .space {
  height: var(--header-n-footer-height);
  width: 100%;
}
body #sharer-by-KP #sharer-window .sharer-footer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: var(--header-footer-bg);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border-bottom-left-radius: 17px;
  border-bottom-right-radius: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-bg);
}
body #sharer-by-KP #sharer-window .sharer-footer .sharer-footer-container {
  --footer-btns-height: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: calc(100% - var(--header-n-footer-height) + var(--footer-btns-height));
  height: var(--footer-btns-height);
  border-radius: 9px;
}
body #sharer-by-KP #sharer-window .sharer-footer .sharer-footer-container .footer-btns {
  width: calc(50% - 10px);
  height: 100%;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 9px;
  color: var(--font-primary);
}
body #sharer-by-KP #sharer-window .sharer-footer .sharer-footer-container .footer-btns:hover {
  background-color: var(--sharer-border-n-shadow-color);
  color: var(--highlight-blue-color);
  cursor: pointer;
}
body #sharer-by-KP #sharer-window .sharer-footer .sharer-footer-container .footer-btns .footer-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
}
body #sharer-by-KP #sharer-window .sharer-footer .sharer-footer-container .separator {
  height: 84%;
  width: 1px;
  border-radius: 2px;
  background-color: var(--sharer-border-n-shadow-color);
}

@media (max-width: 580px) {
  body #sharer-by-KP #sharer-window {
    max-width: 100vh;
    max-height: 100vh;
    border-radius: 0;
  }
}/*# sourceMappingURL=sharer.css.map */