@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

:root {
    --sharer-text-pri: black;
    --sharer-text-sec: black;
    --sharer-btn-hover: rgb(247, 246, 244);
    --sharer-btn-selected: rgb(107, 160, 249);
    --sharer-bg: rgb(255, 255, 255);
    --border-n-shadow: rgba(128, 128, 128, 0.4);
    // --separator-color: rgba(211, 211, 211);
    --separator-color: var(--border-n-shadow);
}

.sharer-dark-mode {
    --sharer-text-pri: white;
    --sharer-text-sec: black;
    --sharer-btn-hover: rgb(247, 246, 244);
    --sharer-btn-selected: rgb(107, 155, 230);
    --sharer-bg: rgb(37, 37, 38);
    --border-n-shadow: rgba(71, 71, 71);
    --separator-color: var(--border-n-shadow);
}

body {
    padding: 0;
    margin: 0;

    #sharer-by-KP {
        color: var(--sharer-text-pri);
        font-family: "Inter", sans-serif;
        width: 100vw;
        height: 100vh;
        // background-color: rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        .sharer-window {
            width: 100%;
            height: 100%;
            max-width: 968px;
            max-height: 571px;
            border-radius: 10px;
            background-color: var(--sharer-bg);
            border: 0.2px solid var(--border-n-shadow);
            box-shadow: 0 16px 64px 0 var(--border-n-shadow);
            display: flex;
            transition: max-width 0.4s ease, max-height 0.4s ease;

            --sharer-menu-width: 310px;
            --header-height: 40px;
            .sharer-menu {
                width: var(--sharer-menu-width);
                height: 100%;
                // background-color: rgb(228, 228, 228);

                .sharer-menu-header {
                    width: 100%;
                    height: var(--header-height);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    .sharer-menu-header-container {
                        width: calc(100% - 20px);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        --close-btn-size: 20px;
                        #sharer-close-btn {
                            // display: none;
                            width: var(--close-btn-size);
                            height: var(--close-btn-size);
                            border-radius: 6px;
                            background-color: var(--border-n-shadow);
                            // background-color: rgb(234, 106, 94);
                            // border: 1px solid rgb(234, 106, 94);
                            // border-radius: var(--close-btn-size);
                            border-radius: 6px;

                            &:hover {
                                cursor: pointer;
                            }

                            // Color of x in close btn
                            // background-color: rgb(134, 28, 19);
                        }

                        .title {
                            color: var(--sharer-text-pri);
                            font-weight: 500;
                        }

                        .space {
                            width: var(--close-btn-size);
                            // height: var(--close-btn-size);
                            // background-color: var(--border-n-shadow);
                            // border-radius: 4px;
                        }
                    }
                    // background-color: red;
                }

                .sharer-menu-applist {
                    width: calc(100% - 20px);
                    height: calc(100% - 2 * var(--header-height) - 20px);
                    // background-color: blue;
                    padding: 10px;
                    overflow-x: auto;

                    border-top: 0.6px solid var(--border-n-shadow);
                    border-bottom: 0.6px solid var(--border-n-shadow);

                    display: flex;
                    flex-direction: column;

                    input {
                        display: none;
                        + label {
                            width: calc(100% - 12px);
                            // height: 32px;
                            background-color: transparent;
                            border: none;
                            border-radius: 6px;
                            padding: 6px;

                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            --icon-size: 20px;
                            .icon-name {
                                display: flex;
                                align-items: center;
                                .icon {
                                    width: var(--icon-size);
                                    height: var(--icon-size);
                                    // background-color: var(--border-n-shadow);
                                    border-radius: 6px;
                                    // margin: 0 4px;
                                    margin-right: 6px;

                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: space-around;

                                    svg {
                                        width: 100%;
                                        height: 100%;
                                    }
                                }
                                .name {
                                    color: var(--sharer-text-pri);
                                    font-size: 14px;
                                }
                            }

                            .open-arrow {
                                width: var(--icon-size);
                                height: var(--icon-size);
                                background-color: var(--border-n-shadow);
                                border-radius: 4px;
                                display: none;
                            }
                            &:hover {
                                background-color: var(--sharer-btn-hover);
                                cursor: pointer;
                            }
                        }

                        &:checked {
                            + label {
                                background-color: var(--sharer-btn-selected);

                                .name {
                                    color: white;
                                }
                            }
                        }
                    }
                }

                .sharer-menu-footer {
                    width: 100%;
                    height: var(--header-height);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;

                    .sharer-menu-footer-container {
                        width: calc(100% - 20px);
                        display: flex;

                        input {
                            display: none;
                            + label {
                                width: 50%;
                                // height: 22px;
                                padding: 2px 0;
                                color: var(--sharer-text-pri);
                                border: none;
                                border-radius: 4px;
                                background-color: transparent;
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: space-around;

                                &:hover {
                                    background-color: var(--sharer-btn-hover);
                                    cursor: pointer;
                                }
                            }
                            &:checked {
                                + label {
                                    // width: 50%;
                                    // height: 20px;
                                    color: white;
                                    // border: none;
                                    // border-radius: 4px;
                                    background-color: var(
                                        --sharer-btn-selected
                                    );

                                    &:hover {
                                        background-color: var(
                                            --sharer-btn-selected
                                        );
                                        cursor: pointer;
                                    }
                                }
                            }
                        }

                        .separator {
                            height: 100%;
                            width: 0.6px;
                            background-color: var(--border-n-shadow);
                        }
                    }
                }
            }

            .separator {
                height: 100%;
                width: 0.6px;
                background-color: var(--separator-color);
            }
            #sharer-info {
                position: static;
                width: calc(100% - var(--sharer-menu-width));
                height: 100%;
                // background-color: var(--sharer-bg);
                left: 100%;
                transition: left 0.4s ease;
                display: flex;
                flex-direction: column;
                align-items: center;

                .sharer-info-header {
                    width: 100%;
                    height: var(--header-height);
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;
                    border-bottom: 0.6px solid var(--border-n-shadow);

                    .sharer-info-header-container {
                        width: calc(100% - 20px);
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        --back-btn-size: 20px;

                        #close-sharer-info {
                            // .back-btn {
                            width: var(--back-btn-size);
                            height: var(--back-btn-size);
                            background-color: var(--border-n-shadow);
                            border-radius: 6px;

                            opacity: 0;
                            pointer-events: none;
                            &:hover {
                                cursor: pointer;
                            }
                        }

                        .title {
                            color: var(--sharer-text-pri);
                        }

                        .space {
                            width: var(--back-btn-size);
                        }
                    }
                }

                .sharer-info-content {
                    width: calc(100% - 20px);
                    height: calc(100% - var(--header-height) - 20px);
                    padding: 10px;
                    overflow-x: auto;

                    .sharer-info-content-container {
                        width: 100%;
                        min-height: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;

                        .app-logo {
                            width: 100px;
                            aspect-ratio: 1;
                        }

                        .title {
                            margin: 16px 0;
                            font-size: 26px;
                            font-weight: 400;
                        }

                        .inputs {
                            // width: 100px;
                            margin: 8px 0;
                            padding: 8px 10px;
                            border-radius: 8px;
                            border: 1px solid var(--border-n-shadow);

                            &:focus {
                                outline: none;
                                border-color: var(--sharer-btn-selected);
                            }
                        }
                        #share-btn {
                            margin: 8px 0;
                            padding: 8px 10px;
                            font-size: 16px;
                            border-radius: 8px;
                            border: 1px solid var(--sharer-btn-selected);
                            color: var(--sharer-btn-selected);
                            background-color: transparent;

                            &:hover {
                                cursor: pointer;
                                background-color: var(--sharer-btn-selected);
                                color: white;
                            }
                        }
                    }

                    // iframe {
                    //     width: 100%;
                    //     height: 100%;
                    //     border-radius: 6px;
                    //     border: none;
                    // }
                }
            }
        }
    }
}

@media (max-width: 1000px) {
    body {
        #sharer-by-KP {
            .sharer-window {
                max-width: 710px;
            }
        }
    }
}

@media (max-width: 742px) {
    body {
        #sharer-by-KP {
            .sharer-window {
                max-width: 568px;
                --sharer-menu-width: 210px;
                .sharer-menu {
                    width: var(--sharer-menu-width);
                }
                #sharer-info {
                    width: calc(100% - var(--sharer-menu-width));
                }
            }
        }
    }
}

@media (max-width: 600px) {
    body {
        #sharer-by-KP {
            .sharer-window {
                max-width: 100vw;
                max-height: 100vh;
                border-radius: 0;

                .sharer-menu {
                    width: 100%;

                    .sharer-menu-applist {
                        input {
                            + label {
                                .open-arrow {
                                    display: block;
                                }
                            }
                        }
                    }
                    .sharer-menu-footer {
                        .sharer-menu-footer-container {
                            .separator {
                                display: block;
                            }
                        }
                    }
                }

                .separator {
                    display: none;
                }
                #sharer-info {
                    position: fixed;
                    left: 100%;
                    // left: 0;
                    width: 100%;
                    // transition: right 0.4s ease;
                    background-color: var(--sharer-bg);

                    .sharer-info-header {
                        .sharer-info-header-container {
                            #close-sharer-info {
                                // .back-btn {
                                opacity: 1;
                                pointer-events: all;
                            }
                        }
                    }
                }
            }
        }
    }
}
