@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

body {
    margin: 0;
    padding: 0;
    width: 375px;
    height: 481px;
    background-color: black;
    // background-color: white;
    font-family: "Inter", sans-serif;

    #sharer-root {
        width: 100%;
        height: 100%;
        background-color: white;

        // box-shadow: 0 8px 16px 0 black;
        // border: 1px solid black;
        border-radius: 24px;

        display: flex;
        flex-direction: column;
        align-items: center;

        .sharer-header {
            width: 100%;
            height: 60px;
            // border-bottom: 1px solid black;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .header-content {
                width: calc(100% - 32px);
                height: 28px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                div {
                    width: 28px;
                }

                .header-app-icon-container {
                    height: 100%;
                    border-radius: 7px;
                    // background-color: #e9e9ec;
                    background-color: #f7f7f5;
                    position: relative;

                    div {
                        svg {
                            width: 100%;
                            height: 100%;
                        }
                    }

                    .default-header-icon {
                        position: absolute;
                        top: 1px;
                        left: 1px;
                        width: calc(100% - 2px);
                        height: calc(100% - 2px);
                        z-index: 0;
                    }

                    #header-app-icon {
                        position: absolute;
                        top: 1px;
                        left: 1px;
                        width: calc(100% - 2px);
                        height: calc(100% - 2px);
                        z-index: 1;
                        opacity: 0;
                        transition: opacity 0.4s ease;
                        background-color: blue;
                        border-radius: 7px;

                        &.show {
                            opacity: 1;
                        }
                    }
                }

                .header-text-container {
                    width: 235px;
                    min-height: 22px;
                    font-size: 18px;
                    font-weight: 500;

                    position: relative;

                    &:hover {
                        cursor: default;
                    }

                    div {
                        display: inline-block;
                        white-space: nowrap;
                        overflow: hidden !important;
                        text-overflow: ellipsis;

                        top: 0;
                        left: 0;
                        width: 100%;
                        position: absolute;
                    }

                    .default-header-text {
                        z-index: 0;
                    }

                    #header-text {
                        z-index: 1;
                        opacity: 0;
                        transition: opacity 0.4s ease, color 1s ease;
                        background-color: white;
                        color: #00000000;
                        &.show {
                            opacity: 1;
                            color: black;
                        }
                    }
                }

                #show-qr-btn {
                    height: 100%;
                    border-radius: 100%;
                    // background-color: #e9e9ec;
                    // background-color: #f7f7f5;
                    background-color: #f7f2ff;
                    &:hover {
                        cursor: pointer;
                    }

                    opacity: 1;
                    pointer-events: all;
                    transition: opacity 0.4s ease;
                    &.hide {
                        opacity: 0;
                        pointer-events: none;
                    }

                    svg {
                        width: 100%;
                        height: 100%;

                        .qr-svg-path {
                            fill: #a06eff;
                        }
                    }
                }

                .close-or-home-btn {
                    height: 100%;
                    // background-color: #e9e9ec;
                    position: relative;

                    &:hover {
                        cursor: pointer;
                    }

                    div {
                        width: 100%;
                        height: 100%;
                        border-radius: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        background-color: #f7f7f5;
                    }

                    #default-close-btn {
                        z-index: 1;
                        opacity: 1;
                        transition: opacity 0.4s ease;
                        background-color: #f7f2ff;

                        &.hide {
                            z-index: 0;
                            opacity: 0;
                        }

                        svg {
                            .close-svg-path {
                                fill: #a06eff;
                            }
                        }
                    }

                    #home-btn {
                        z-index: 0;
                        opacity: 0;
                        transition: opacity 0.4s ease;
                        background-color: #f7f2ff;

                        &.show {
                            z-index: 1;
                            opacity: 1;
                        }

                        svg {
                            .home-svg-path {
                                fill: #a06eff;
                            }
                        }
                    }
                }
            }
        }

        .applist-n-qr {
            //
            // border: 1px solid black;
            //

            width: calc(100% - 32px);
            aspect-ratio: 1;
            position: relative;
            margin-bottom: 16px;

            #applist {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                width: 100%;
                height: 100%;
                opacity: 1;
                transition: opacity 0.4s ease;
                pointer-events: all;
                overflow: auto;

                -ms-overflow-style: none;
                scrollbar-width: none;

                &::-webkit-scrollbar {
                    display: none;
                }

                &.hide {
                    z-index: 0;
                    opacity: 0;
                    pointer-events: none;
                }

                display: flex;
                flex-direction: column;
                align-items: center;
                .list-item {
                    width: calc(100% - 18px);
                    height: 28px;
                    padding: 9px;
                    border-radius: 14px;
                    display: flex;
                    align-items: center;
                    background-color: #00000000;
                    transition: background-color 0.4s ease;

                    &:hover {
                        background-color: #f9f6ff;
                        cursor: pointer;

                        .open-app-arrow {
                            width: 28px;
                            height: 28px;

                            svg {
                                .arrow-svg-path {
                                    fill: #a06eff;
                                }
                            }
                        }
                    }

                    .applist-app-icon {
                        width: 28px;
                        height: 28px;
                        margin-right: 9px;
                    }

                    .applist-app-name {
                        font-size: 18px;
                        font-weight: 400;
                        width: 260px;
                        display: inline-block;
                        white-space: nowrap;
                        overflow: hidden !important;
                        text-overflow: ellipsis;
                    }

                    .open-app-arrow {
                        width: 28px;
                        height: 28px;

                        svg {
                            .arrow-svg-path {
                                transition: fill 0.4s ease;
                            }
                        }
                    }
                }
            }

            #url-qr {
                border-radius: 14px;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                transition: opacity 0.4s ease;

                &.show {
                    z-index: 1;
                    opacity: 1;
                }
            }
        }

        .bottom-operators-container {
            width: calc(100% - 32px);
            height: 46px;
            margin-bottom: 16px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            position: relative;

            div {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: space-between;

                div {
                    position: relative;
                    height: 100%;
                    // background-color: #f7f7f5;
                    background-color: #f9f6ff;
                    border-radius: 14px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;

                    &:hover {
                        cursor: pointer;
                    }

                    div {
                        color: #a06eff;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
            }

            #default-bottom-operators {
                z-index: 1;
                opacity: 1;
                transition: opacity 0.4s ease;

                &.hide {
                    z-index: 0;
                    opacity: 0;
                }

                div {
                    width: calc(50% - 8px);
                }
            }

            #bottom-operators {
                z-index: 0;
                opacity: 0;
                transition: opacity 0.4s ease;

                &.show {
                    z-index: 1;
                    opacity: 1;
                }

                div {
                    width: 100%;
                }
            }
        }

        #powered-by-sharer {
            display: none;
            opacity: 0;
            // margin: 16px 0;
            font-size: 16px;
            transition: opacity 0.6s ease;

            &.show {
                opacity: 1;
            }
        }
    }
}
