@import "../fixsizeText";
@import "../hideScrollBar";

@mixin applist_css() {
    #applist {
        max-height: 384px;
        display: inline-block;
        overflow: scroll;
        @include hideScrollBar();

        .applist-item {
            position: static;
            width: calc(100% - 18px);
            height: 28px;
            border-radius: 14px;
            padding: 9px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            div {
                position: static;
                width: 28px;
                height: 28px;
            }
            p {
                position: static;
                width: 252px;
                @include fixsizeText();
                font-size: 18px;
                font-weight: 400;
            }
            &:hover {
                background-color: $secondary-light;
                cursor: pointer;
            }
        }
    }
}
