@mixin sharerContent {
    #sharer-content {
        width: 100%;
        aspect-ratio: 1;
        overflow: auto;
        // background-color: #f6f6f6;
        border-radius: 18px;

        .applist-item {
            width: calc(100% - 20px);
            height: 30px;
            padding: 10px;
            border-radius: 18px;

            display: flex;
            align-items: center;
            justify-content: space-between;

            &:hover {
                background-color: #f6f6f6;
                cursor: pointer;
            }

            .applist-icon-container {
                height: 100%;
                aspect-ratio: 1;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                background-color: #f6f6f6;
                border-radius: 7px;

                // svg {
                img {
                    height: calc(100% - 2px);
                    aspect-ratio: 1;
                }
            }

            .applist-app-name {
                width: calc(100% - 76px);
                display: inline-block;
                white-space: nowrap;
                overflow: hidden !important;
                text-overflow: ellipsis;
            }

            .arrow-right-icon {
                height: 100%;
                aspect-ratio: 1;

                img {
                    height: 100%;
                    aspect-ratio: 1;
                }
            }
        }

        .sharer-qr-container {
            width: calc(100% - 42px);
            padding: 21px;
            padding-bottom: 0;
            aspect-ratio: 1;

            background-color: #f6f6f6;
        }
        .sharer-credits {
            height: 72px;
            width: 100%;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;

            .credits-container {
                height: 30px;

                display: flex;
                align-items: center;

                .credits-icon-container {
                    height: 100%;
                    aspect-ratio: 1;
                    background-color: #f6f6f6;
                    border-radius: 7px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: space-around;

                    img {
                        height: calc(100% - 2px);
                        aspect-ratio: 1;
                    }
                    margin-right: 8px;
                }

                .credits-text {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
    }
}
