@mixin sharerFooter {
    #sharer-footer {
        height: 50px;
        width: 100%;
        margin-top: 21px;
        // background-color: #3479f614;
        // background-color: #5900ff0a;
        border-radius: 18px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

        &:hover {
            cursor: pointer;
        }

        #sharer-footer-text {
            font-size: 20px;
            font-weight: 600;
            // color: #3479f6;
            // color: #5900ff;
        }
    }
}
