// @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
    --primary-light: #ffffff;
}

body {
    padding: 0;
    margin: 0;

    #sharer-by-KP {
        font-family: "Inter", sans-serif;
        width: 100vw;
        height: 100vh;
        position: relative;
        z-index: 100000;
        // background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(10px);

        #sharer-window {
            position: absolute;
            width: 400px;
            min-width: 300px;
            margin: auto;
            aspect-ratio: 3 / 4;
            left: calc(50% - 200px);
            bottom: calc(50% - calc(3 * 400px / 4));
            background-color: var(--primary-light);
            border-radius: 12px;
            box-shadow: 0 8px 32px 0 rgba(128, 128, 128, 0.4);

            transition: left 0.8s ease, bottom 0.8s ease, box-shadow 0.8s ease;

            display: flex;
            flex-direction: column;
            align-items: center;

            #header-icon-container {
                margin: 10px;
                margin-bottom: 0;
                width: 42px;
                aspect-ratio: 1;
                position: relative;

                div {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                }

                #temp-header-icon {
                    z-index: 0;

                    &.show {
                        z-index: 2;
                    }
                }
                .default-icon {
                    z-index: 1;
                }
            }

            #sharer-temp-description {
                margin: 10px;
                margin-bottom: 0;
                font-size: 24px;
            }
        }
    }
}

@media (max-width: 460px) {
    body {
        #sharer-by-KP {
            #sharer-window {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                width: 100%;
                left: 0;
                bottom: 0;
                box-shadow: 0 -8px 64px 0 rgba(128, 128, 128, 0.4);
            }
        }
    }
}
