@mixin sharerWindow {
    #sharer-window {
        background-color: white;
        padding: 16px;
        margin: 6px;
        width: calc(100% - 44px);
        max-width: 448px;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;

        aspect-ratio: 3 / 4;
    }
}
