@import "./gui/sharerWindow";

body {
    margin: 0;

    #sharer-by-KP {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        pointer-events: all;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.32);
        backdrop-filter: blur(6px);

        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;

        @include sharerWindow();
    }
}

@media (max-width: 500px) {
    body {
        #sharer-by-KP {
            align-items: end;
        }
    }
}
