@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

@import "./gui/sharerContainer";

body {
    margin: 0;

    #sharer-btn-default {
        position: fixed;
        bottom: 36px;
        right: 36px;
        width: 64px;
        aspect-ratio: 1;
        z-index: 2147483646;
        box-shadow: 0 16px 64px 0 rgba(40, 40, 40, 0.32);
        border-radius: 16px;
        opacity: 1;
        transition: opacity 0.2s ease;
        pointer-events: all;
        &:hover {
            cursor: pointer;
        }
        &.hide {
            z-index: -2147483646;
            opacity: 0;
            pointer-events: none;
        }
    }

    #sharer-by-KP {
        z-index: 2147483647;
        font-family: "Inter", sans-serif;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0px;
        left: 0px;
        pointer-events: all;
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.32);
        backdrop-filter: blur(6px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transition: opacity 0.2s ease, background-color 0.2s ease,
            backdrop-filter 0.2s ease;

        &.hide {
            opacity: 0;
            background-color: rgba(0, 0, 0, 0);
            backdrop-filter: blur(0px);
        }

        @include sharerContainer();
    }

    &.sharer-opened {
        overflow: hidden;
    }
}

@media (max-width: 500px) {
    body {
        #sharer-by-KP {
            @include sharerContainer_mobile();
        }
    }
}
